$black: #000;
$white: #fff;
$yellow: #cf9114;
$green: #006e5b;
$color-text: #484848;
$brown: #6c533d;
$skin: #e3c5a5;
$gray: #a4a09d;
$reddish: #9e635e;
$primary-color: #f2b94c;
$secondary-color: #be1522;
