// sass ./sass/booking-page.scss ./css/booking-page.css --watch
@import "variables";
@import "mixin";
@import "reset";
@import "global";
@import "header-page";
@import "footer";
.booking-page{
    .booking{
        padding: 8rem 0;
        background: url(../images/bg-booking.jpg) no-repeat center;
        background-size: cover;
        @include media-breakpoint-down(sm){
            padding: 3rem 0;
        }
        &-form{
            max-width: 76.8rem;
            width: 100%;
            border-radius: 2rem;
            background: #fff;
            margin: 0 auto;
            padding: 5rem;
            @include media-breakpoint-down(md){
                max-width: 90%;
                padding: 2rem;
            }
            &-heading {
                @include section-heading;
                text-align: center;
                margin-bottom: 3rem;
                @include media-breakpoint-down(sm) {
                  margin-bottom: 2rem;
                }
                &::after {
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
            form{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 2rem;
                @include media-breakpoint-down(sm){
                    grid-template-columns: repeat(1,1fr);
                }
            }
            &-item{
                display: flex;
                flex-flow: row wrap;
                position: relative;
                label{
                    width: 100%;
                    @include font-size(1.4, 1.9);
                    margin-bottom: 0.6rem;
                }
                &.required {
                    & > label {
                      &::after {
                        content: "*";
                        color: #cb1515;
                        @include font-size(1.4, 1.9);
                        margin-left: 0.5rem;
                      }
                    }
                  }
                input {
                    width: 100%;
                    background: #EAEAEC;
                    border: 1px solid #d9d9d9;
                    border-radius: 6px;
                    height: 4rem;
                    padding: 1rem 2rem;
                    @include font-size(1.4, 1.9);
                    color: #00000073;
                    outline: none !important;
                    position: relative;
                  }
                  select {
                    height: 4rem;
                    background: #EAEAEC;
                    border: 1px solid #d9d9d9;
                    border-radius: 6px;
                    @include font-size(1.4, 1.9);
                    color: #00000073;
                    padding: 1rem 1.8rem;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none !important;
                  }
                  textarea{
                    width: 100%;
                    min-height: 7.8rem;
                    padding: 1.1rem 2rem;
                    background: #EAEAEC;
                    border-radius: .6rem;
                    border: 0;
                    outline: none !important;
                    color: #00000073;
                    @include font-size(1.4, 1.9);
                    
                  }
                  .btn-submit{
                    margin-top: 1rem;
                    width: 100%;
                  }
                &:nth-of-type(4),
                &:nth-of-type(6){
                  position: relative;
                  &::after{
                    @include fa5("\f107");
                    position: absolute;
                    bottom: 1.5rem;
                    right: 2rem;
                    color: #969697;
                    pointer-events: none;
                    @include box(1rem);
                    display: inline-block;
                    line-height: 1rem;
                    text-align: center;
                  }
                }
                &:nth-last-of-type(1),
                &:nth-last-of-type(2){
                    grid-column: 1/ 3;
                    @include media-breakpoint-down(sm){
                        grid-column: unset;
                    }
                }
                input[type="datetime-local"]::-webkit-calendar-picker-indicator {
                    opacity: 1;
                    display: block;
                    background: url(../images/icon-calendar.svg) no-repeat;
                    @include box(1.6rem);
                    border-width: thin;
                    right: 1.6rem;
                    top:1.2rem;
                    position: absolute;
                }
            }
        }
    }
}